.progress {
    width: 228px;
}

.progress-bar {
    text-align: right !important;
    font-size: 16px !important;
}

.bg-fire {
    background-color: #fd4949;
}
.bg-grass {
    background-color: #8de092;
}
.bg-electric {
    background-color: #fbdf54;
}
.bg-water {
    background-color: #61c1ef;
}
.bg-ground {
    background-color: #ffad5c;
}
.bg-rock {
    background-color: #b5b5b5;
}
.bg-fairy {
    background-color: #f1b2fb;
}
.bg-poison {
    background-color: #9370c1;
}
.bg-bug {
    background-color: #fbb858;
}
.bg-dragon {
    background-color: #5f7eb5;
}
.bg-psychic {
    background-color: #cbd04b;
}
.bg-flying {
    background-color: #c1bfbf;
}
.bg-fighting {
    background-color: #bdb6a7;
}
.bg-normal {
    background-color: #c7c5c5;
}
.bg-ghost {
    background-color: #bd85f1;
}
.bg-ice {
    background-color: #6495ed;
}
.bg-dark {
    background-color: #000;
}
.bg-steel {
    background-color: #989997;
}
