.footer {
    background-color: white;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__text {
        font-size: 10px;
        margin: 0 20px 0 0;
    }
}
