.text {
    &__title,
    &__info {
        font-size: 14px;
        padding: 12px;
        margin: 0;
        color: #505050;
    }

    &__title {
        text-align: right;
    }

    &__info {
        text-align: left;
    }
}

.group {
    padding: 12px;
    &__info {
        display: flex;
        flex-wrap: wrap;
        max-width: 270px;
    }
}

.item {
    &__boxDetail {
        border-radius: 5px;
        padding: 2px 5px;
        margin-right: 6px;
        line-height: normal;
        margin-bottom: 6px;
        color: #fff;
        text-transform: uppercase;
        height: fit-content;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    &--fire {
        background-color: #fd4949;
    }
    &--grass {
        background-color: #8de092;
    }
    &--electric {
        background-color: #fbdf54;
    }
    &--water {
        background-color: #61c1ef;
    }
    &--ground {
        background-color: #ffad5c;
    }
    &--rock {
        background-color: #b5b5b5;
    }
    &--fairy {
        background-color: #f1b2fb;
    }
    &--poison {
        background-color: #9370c1;
    }
    &--bug {
        background-color: #fbb858;
    }
    &--dragon {
        background-color: #5f7eb5;
    }
    &--psychic {
        background-color: #cbd04b;
    }
    &--flying {
        background-color: #c1bfbf;
    }
    &--fighting {
        background-color: #bdb6a7;
    }
    &--normal {
        background-color: #c7c5c5;
    }
    &--ghost {
        background-color: #bd85f1;
    }
    &--ice {
        background-color: #6495ed;
    }
    &--dark {
        background-color: #000;
    }
    &--steel {
        background-color: #989997;
    }

    &__hiddenAbility {
        filter: brightness(110%) saturate(50%);
    }
}

.tagDetail {
    &__block {
        display: flex;
        justify-content: flex-start;
    }
    &__type {
        padding: 2px 10px;
        border-radius: 5px;
        font-size: 14px;
        margin-right: 5px;
        color: #fff;
        &:last-child {
            margin-right: 0;
        }
        &--fire {
            background-color: #fd4949;
        }
        &--grass {
            background-color: #8de092;
        }
        &--electric {
            background-color: #fbdf54;
        }
        &--water {
            background-color: #61c1ef;
        }
        &--ground {
            background-color: #ffad5c;
        }
        &--rock {
            background-color: #b5b5b5;
        }
        &--fairy {
            background-color: #f1b2fb;
        }
        &--poison {
            background-color: #9370c1;
        }
        &--bug {
            background-color: #fbb858;
        }
        &--dragon {
            background-color: #5f7eb5;
        }
        &--psychic {
            background-color: #cbd04b;
        }
        &--flying {
            background-color: #c1bfbf;
        }
        &--fighting {
            background-color: #bdb6a7;
        }
        &--normal {
            background-color: #c7c5c5;
        }
        &--ghost {
            background-color: #bd85f1;
        }
        &--ice {
            background-color: #6495ed;
        }
        &--dark {
            background-color: #000;
        }
        &--steel {
            background-color: #989997;
        }
    }
}
